@font-face {
    font-family: 'Chronicle Display bold';
    src: url('./../fonts/Chronicle Display Black.otf')
}

@font-face {
    font-family: 'Chronicle';
    src: url('./../fonts/Chronicle\ Display\ Roman.otf');
}

@font-face {
    font-family: 'Chronicle SB';
    src: url('./../fonts/Chronicle Display Semibold.otf');
}

@font-face {
    font-family: 'Gilroy BL';
    src: url('./../fonts/Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Gilroy BD';
    src: url('./../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy L';
    src: url('./../fonts/Gilroy-Light.ttf');
}

@font-face {
    font-family: 'Gilroy M';
    src: url('./../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy R';
    src: url('./../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy SB';
    src: url('./../fonts/Gilroy-Semibold.ttf');
}